.check{
    color: orange;
}

div.card span{
    visibility: hidden;
}

div.card:hover span{
    visibility: visible;
    background-color: rgba(125,115,115,0.5);
}

div.card-img-overlay span a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (min-width: 768px) {
    div.card-img-overlay.mode2 span a{
        position: absolute;
        top: 65%;
        left: 90%;
        transform: translate(-50%,-50%);
    }
}
