<app-navbar></app-navbar>
<div class="container-fluid mt-5 mb-5" *ngIf="product$ | async as prod">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="about-thumb-2">
          <img class="img-responsive col-sm-12" src="{{imgUrl}}">
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 col-12">
        <div class="about-content-2">
          <div class="section-title-3">
            <h2>{{prod.name}}</h2>
            <p>{{prod.desc}}</p>
          </div>
          <p>Price: {{prod.price}}</p>
          <p>Discount: {{prod.discount}}</p>
          <p>New price: {{prod.price - prod.price*prod.discount}}</p>
          <p>Vote: {{prod.vote}}</p>
          <div class="d-inline">
            <button id="sub">-</button>
            <span id="out">{{countSP}}</span>
            <button id="add">+</button>
          </div>
          <br>
          <span class="fa fa-star check" *ngFor="let item of [0,1,2,3,4], let i = index"></span>
          <br>
          <button (click)="gotoProducts()">Back</button>
          <button (click)="addtoCart(prod, 12)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
