<app-navbar></app-navbar>
<div class="container-fluid mt-5 mb-5" *ngIf="product$ | async as prod">
  <div class="container">
      <h1 class="mb-4">{{prod.name}}</h1>
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="about-thumb-2">
          <img class="img-responsive col-sm-12" src="{{prod.img}}">
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 col-12">
        <div class="about-content-2">
          <div class="section-title-3">
            <p>Description: {{prod.desc}}</p>
          </div>
          <p>Price: {{prod.price}} - Discount: {{prod.discount}}</p>
          <b>New price: {{newPrice}}</b>
          <br><br>
          <span class="fa fa-star" *ngFor="let item of [0,1,2,3,4], let i = index" [class.check]="i < prod.vote"></span>
          <br><br>
          <div class="d-inline">
            <button id="sub">-</button>
            <span class="ml-3 mr-3" id="out">{{countSP}}</span>
            <button id="add">+</button>
          </div>
          <br><br>
          <button class="mr-3" (click)="gotoProducts()">Back</button>
          <button (click)="addtoCart(prod, count)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
